.combobox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 240px;
  box-sizing: border-box;
}
.combobox-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.combobox-input-container {
  position: relative;
  width: 100%;
}
.combobox-input,
.combobox-button {
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  background-color: #fff;
}
.combobox-button {
  position: absolute;
  top: 0;
  left: 0;
}
.combobox-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}
.combobox-button-hide {
  z-index: -1;
}
.combobox-options {
  margin: 0;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  max-height: 240px;
  overflow: scroll;
}
.combobox-option {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 40px;
  text-align: left;
  position: relative;
}
.combobox-option:hover,
.combobox-option:focus {
  background-color: #d6e9fd;
}
.combobox-option-selected,
.combobox-option-selected-left {
  background-color: #a3cdfb;
}
.combobox-option-selected-icon {
  position: absolute;
  right: 10px;
}
.combobox-option-selected-left-icon {
  position: absolute;
  left: 8px;
}
li > span:first-child {
  font-size: 16px;
  color: #111;
  margin: 0;
}
